<template>
    <div class="back-to-top">
        <div class="button" v-on:click="backToTop">
            <img src="../assets/images/icon-arrow-down.svg">
            <div>
                Back to top
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'BackToTop',
        data: function () {
            return {
                contentSelector: '.what .content'
            };
        },
        methods: {
            backToTop: function (event) {
              if(event) {
                this.$emit('backToTop', event);
              }
            }
        },
    };
</script>

<style lang="scss" scoped>
    @import '../scss/media';

    .back-to-top {
        display: none;
        position: absolute;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1000000;

        @include media-breakpoint-up(md) {
            display: block;
        }

        img {
            transform: rotate(180deg);
        }

        .button {
            text-align: center;
        }
    }
</style>
