<template>
  <div id="contact" data-anchor="a-contact">
    <div class="row">
      <div class="col contact-text">
        <h1>IN CASE OF QUESTIONS</h1>
        <h2>DO NOT HESITATE TO CONTACT US</h2>
      </div>
    </div>
    <div class="contact-information">
      <div class="col-contact">
        <div class="email-icon">
          <img src="../assets/icons/mail_icon.svg" alt="info@gumption.be">
          <span><a href="mailto: info@gumption.be">info@gumption.be</a></span>
        </div>
      </div>
      <div class="col-contact">
        <div class="phone-icon">
          <img src="../assets/icons/call_icon.svg" alt="+32 477 46 22 32">
          <span><a href="tel:0032477462232">+32 477 46 22 32</a> </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-logo">
        <a href="https://www.gumption.eu" target="_blank">
          <Box class="box" :pose="isVisible ? 'visible' : 'hidden'">
            <img src="../assets/icons/gumption_logo.svg" alt="Gumption">
          </Box>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  import posed from 'vue-pose';

  export default {
    name: 'Contact',
    data: function () {
      return {
        isVisible: false
      };
    },
    methods: {
      setVisible: function (value) {
        this.isVisible = value;
      }
    },
    components: {
      Box: posed.div({
        visible: {
          opacity: 1
        },
        hidden: {
          opacity: 0
        }
      })
    }
  };
</script>

<style scoped lang="scss">
  @import '../scss/media';

  #contact {
    background-color: #da1e55;
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      font-family: "Bebas Neue Bold", sans-serif;
      font-weight: bold;
      opacity: 1;

      font-size: 40px;
      line-height: 40px;

      @include media-breakpoint-up(md) {
        font-size: 55px;
        line-height: 50px;
      }
    }

    h2 {
      font-family: "Bebas Neue Light", sans-serif;
      font-weight: lighter;
      font-size: 24px;
      line-height: 20px;

      @include media-breakpoint-up(md) {
        font-size: 34px;
        line-height: 30px;
      }
    }

    .contact-text {
    }

    .contact-information {
      font-family: Lato, sans-serif;
      font-size: 20px;
      min-height: 100px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        margin-top: 20px;
      }

      .col-contact:nth-child(1) {
        @include media-breakpoint-up(md) {
          border-right: 1px solid #ffffff;
        }
      }

      .email-icon, .phone-icon {
        padding: 20px;
        font-size: 16px;

        a {
          color: white;
        }

        span:before {
          content: "\A";
          white-space: pre;
        }

        @include media-breakpoint-up(md) {
          padding: 40px;
          margin: 40px;
        }
      }

      .phone-icon {
        padding-top: 20px;
      }
    }

    .col-logo {
      margin-top: 20px;

      @include media-breakpoint-up(md) {
        margin-top: 50px;
      }
    }
  }
</style>
