<template>
  <div id="cta" class="cta" data-anchor="a-cta">
    <div class="cta-wrapper">
      <div class="fullwidth"></div>
      <div class="overlay">

        <div class="layer layer__1 layer--full-page">
          <div class="handen">
            <div class="hand--left-wrapper">
              <HandLeft class="hand hand--left" :pose="isAnimating ? 'animating' : 'hidden'">
                <img src="../assets/images/cta_hand_1.png">
              </HandLeft>
            </div>

            <div class="hand--right-wrapper">
              <HandRight class="hand hand--right" :pose="isAnimating ? 'animating' : 'hidden'">
                <img src="../assets/images/cta_hand_2.png">
              </HandRight>
            </div>
          </div>
        </div>

        <div class="layer layer__2 layer--full-page">
          <div class="wrapper">
            <!--
            <div class="infographic item">
              <div class="text-box">
                <h3>
                  WANT TO START CO-CREATING THE GUMPTION WAY?
                </h3>
                <p class="download-tk">
                  Download your Gumption co-creating guidelines
                </p>
                <div>
                  <a href="https://cocreate.s3.eu-west-3.amazonaws.com/190605_P_GUM_LANDINGSPAGINA_POSTERS_compressed.pdf" target="_blank" class="download-button">DOWNLOAD PDF</a>
                </div>
              </div>

            </div>
              -->
            <div class="powerpoint item">
              <div class="text-box">
                <h3>
                  DO YOU HAVE A CUSTOMER VISIT IN THE NEAR FUTURE?
                </h3>
                <p class="download-ppt">
                  Download the Gumption presentation! It will help you tell the story.
                </p>
                <div>
                  <a href="https://cocreate.s3.eu-west-3.amazonaws.com/190624_GUM_branding_landingspg.pptx" target="_blank" class="download-button">DOWNLOAD PPT</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import posed from 'vue-pose';

  export default {
    name: 'Cta',
    data: function () {
      return {
        contentSelector: '.cta .content'
      };
    },
    methods: {

    },
    components: {
      HandRight: posed.div({
        animating: {
          x: 0,
          opacity: 1,
          scale: 1.1,
          transition: {duration: 1000, ease: 'linear'},
        },
        hidden: {
          x: 800,
          opacity: 0,
          scale: .9,
          transition: {
            duration: 0
          }
        }
      }),
      HandLeft: posed.div({
        animating: {
          x: 0,
          opacity: 1,
          scale: 1.1,
          transition: {duration: 1000, ease: 'linear'},
        },
        hidden: {
          x: -800,
          opacity: 0,
          scale: .9,
          transition: {
            duration: 0
          }
        }
      })
    },
  };
</script>

<style lang="scss" scoped>
  @import '../scss/media';

  .cta {
    background-color: #da1e55;
    position: relative;

    .fullwidth {
      height: 100%;
      width: 100vw;
    }

    .layer {
      position: absolute;
      top: 0;

      &--full-page {
        height: 100%;
        width: 100vw;
      }

      &__1 {
        .handen {
          display: flex;
          height: 100%;

          .hand--right-wrapper {
            display: flex;
            justify-content: flex-end;
            width: 100%;
          }

          .hand--left-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            height: 100%;
          }

          .hand {
            position: relative;
            max-width: 360px;
            width: 35vw;
            padding-top: 40px;

            @include media-breakpoint-up(lg) {
              margin: 0 1rem;
            }

            -webkit-filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));
            filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));

            img {
              width: 100%;
            }

            &--right {

            }
          }
        }
      }

      &__2 {

        .wrapper {
          height: 100%;
          display: flex;
          margin: 0 auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include media-breakpoint-up(lg) {
            flex-direction: row;
            width: 50vw;
            //justify-content: space-between;
          }

          .powerpoint {
            //visibility: hidden;
            //display: none;
            @include media-breakpoint-up(md) {
              visibility: visible;
              display: block;
            }
          }

          .item {
            min-width: 280px;
            width: 45%;
            margin-bottom: 40px;

            @include media-breakpoint-up(lg) {
              min-width: 310px;
              width: 35%;
              margin: 40px 20px 20px;
            }

            .download-button {
              background: rgba(76, 184, 226, 1);
              border-radius: 40px;
              padding: 15px 20px;
              color: white;
              font-size: 20px;
              font-family: Lato, sans-serif;
            }

            .text-box {
              padding: 40px 25px;
              border: 1px solid white;
              font-family: Lato, sans-serif;
              text-align: center;

              @include media-breakpoint-up(lg) {
                min-height: 500px;
              }

              @include media-breakpoint-up(lg) {
                padding: 80px 50px;
              }

              h3, p {
                padding-bottom: 20px;
                @include media-breakpoint-up(lg) {
                  padding-bottom: 40px;
                }
              }

              p {
                font-size: 1.2rem;
                font-family: Lato, sans-serif;

                span {
                  font-family: Lato, sans-serif;
                  font-size: 0.8rem;
                }
              }

              .download-ppt {

              }

              .download-tk {
                margin-bottom:40px;
              }
            }
          }
          .powerpoint {

          }
          .infographic {

          }
        }
      }
    }
  }
</style>
