<template>
  <div id="intro" data-anchor="a-intro" class="intro gradient-1">
    <div class="row">
      <div class="col wrapper">
        <div class="content">
          Digital transformation. 360° approach. Nobody can do that like the Gumption Group. Time for us to back up
          that claim. We have to be looking for that sizzling synergy. Join forces in co-creation. That’s how we can
          deliver unique value to our clients. Combine that with our shared values and hands-on approach? Can't. Touch. Us.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Intro',
    data: function () {
      return {
        sectionSelector: '.intro'
      };
    },
    methods: {

    },
    mounted: function () {
      this.splitWords(this.sectionSelector + ' .content');
    },
  };
</script>

<style scoped lang="scss">
  @import '../scss/media';

  .wrapper {
    position: relative;
    height: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    display: block;

    .content {
      font-family: 'Lato Light', sans-serif;
      margin: 0 auto;
      font-size: 24px;
      line-height: 26px;
      max-width: 650px;
      min-width: 280px;
      padding: 20px;

      @include media-breakpoint-up(sm) {
        margin-top: 100px;
        padding: 120px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 30px;
        line-height: 36px;
        max-width: 850px;
        min-width: 280px;
        padding: 90px;
      }
    }
  }
</style>
