<template>
  <div class="menu">
    <ul id="menu">
      <li data-menuanchor="a-co-create">
        <a href="#a-co-create">CO-CREATE</a>
      </li>
      <li data-menuanchor="a-intro">
        <a href="#a-intro">INTRO</a>
      </li>
      <li data-menuanchor="a-what" class="">
        <a href="#a-what">WHAT</a>
      </li>
      <li data-menuanchor="a-why" class="">
        <a href="#a-why">WHY</a>
      </li>
      <li data-menuanchor="a-whatnot" class="">
        <a href="#a-whatnot">WHAT NOT</a>
      </li>
      <li data-menuanchor="a-you" class="">
        <a href="#a-you">FOR YOU</a>
      </li>
      <li data-menuanchor="a-cta" class="">
        <a href="#a-cta">GET STARTED</a>
      </li>
      <li data-menuanchor="a-contact" class="">
        <a href="#a-contact">CONTACT</a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
  @import '../scss/media';

  .menu {
    display: none;
    @include media-breakpoint-up(md) {
      position: fixed;
      top: 0;
      left: 100px;
      height: 100%;
      z-index: 70;
      bottom: 0;
      display: flex;
      align-items: center;
      min-width: 150px;
    }

    ul {
      margin:0;
      padding: 0;
      text-indent: 0;
      width: 100%;
    }

    li {
      padding: 0 0 5px 10px;
      width: 100%;
      text-indent: 0;
      text-transform: uppercase;
      font-family: "Bebas Neue Light", sans-serif;
      list-style-image: url('../assets/images/icon-in-active.svg');

      &.active {
        list-style-image: url('../assets/images/icon-active.svg');
      }

      a {
        width: 100%;
        color: #fff;
        display: block;
      }
    }
  }
</style>
