<template>
  <div id="co-create" data-anchor="a-co-create">
    <div class="video-wrapper gradient-1">
      <div class="video">
        <video ref="videoRef" playsinline class="teaser teaser--desktop" id="video-desktop" muted @ended="videoEnded">
          <source
              src="https://cocreate.s3.eu-west-3.amazonaws.com/intro.ogv"
              type="video/ogg"
          >
          <source
              src="https://cocreate.s3.eu-west-3.amazonaws.com/intro.mp4"
              type="video/mp4"
          >
          <source
              src="https://cocreate.s3.eu-west-3.amazonaws.com/intro.webm"
              type="video/webm"
          >
          Your browser does not support the video tag.
        </video>
        <video ref="videoRefMobile" playsinline class="teaser teaser--mobile" id="video-mobile" muted @ended="videoEnded">
          <source
              src="https://cocreate.s3.eu-west-3.amazonaws.com/intro_mobile.ogv"
              type="video/ogg"
          >
          <source
              src="https://cocreate.s3.eu-west-3.amazonaws.com/intro_mobile.mp4"
              type="video/mp4"
          >
          <source
              src="https://cocreate.s3.eu-west-3.amazonaws.com/intro_mobile.webm"
              type="video/webm"
          >
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="overlay gradient-1" v-bind:class="{ playanimation: playAnimation }">
        <div class="layer layer__1 layer--full-page">
          <div class="handen">
            <div class="hand hand--left" v-bind:class="{ animate: animateHand, playanimation: playAnimation }" >
              <img src="../assets/images/cocreate_hand1.png">
            </div>
            <div class="hand hand--right" v-bind:class="{ animate: animateHand, playanimation: playAnimation }" >
              <img src="../assets/images/cocreate_hand2.png">
            </div>
          </div>
        </div>

        <div class="layer layer__2 layer--full-page">
          <div class="logo">
            <img src="../assets/images/logo-gumption.svg">
          </div>
        </div>

        <div class="layer layer__3 layer--full-page">
          <div class="wrapper" v-bind:class="{ animate: animateHand }">
            <div class="tagline">
              <h1>CO-CREATE</h1>
              <h2>THE FUTURE</h2>
            </div>
          <!--  <div class="play-button js--play" id="play" v-on:click="play">
              <img src="../assets/images/icon-play.svg">
            </div> -->
          </div>
        </div>

        <div class="layer layer__4">
          <div class="wrapper">
            <div class="cta">
              <div class="text">
                DISCOVER OUR FULL STORY
              </div>
              <div class="button" v-on:click="next">
                <img src="../assets/images/icon-arrow-down.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="play-button play-button--invideo" id="play2" v-on:click="play" v-show="videoPlaying">
        <img src="../assets/images/icon-play.svg">
      </div>
    </div>
  </div>
</template>

<script>
  import $ from 'jquery';

  export default {
    data() {
      return {
        videoHasPlayed: false,
        animateHand: false,
        playAnimation: false,
        videoPlaying : false
      };
    },
    props: [
        'autoPlay'
    ],
    methods: {
      play: function () {
        this.videoPlaying = false;


        if (!this.videoHasPlayed) {
          this.playAnimation = true;


          setTimeout(
              () =>
              {
                if ($('#video-mobile').css('display') === 'none') {
                  this.$refs.videoRef.play();
                }
                else {
                  this.$refs.videoRefMobile.play();
                }
                this.videoHasPlayed = true;
              }, 1000)
          ;
        } else {
          this.$refs.videoRef.play();
          this.$refs.videoRefMobile.play();
        }
      },
      next: function (event) {
        this.$emit('next', event);
      },
      videoEnded: function () {
        this.next();

        setTimeout(
            () =>
            {
              this.$refs.videoRef.pause();
              this.$refs.videoRefMobile.pause();
              this.$refs.videoRef.currentTime = 0;
            }, 500)
        ;

        setTimeout(
            () =>
            {
              this.animateHand = false;
              this.videoPlaying = false;
              this.playAnimation = false;
              this.videoHasPlayed = false;
            }, 500)
        ;
      }
    },
    watch: {
      isAnimating: function (val) {
        if (val) {
          if (this.videoHasPlayed) {
            this.videoPlaying = true;
          } else {
            this.animateHand = true;
          }
        } else {
          if (this.videoHasPlayed) {
            this.videoPlaying = false;
          } else {
            this.animateHand = false;
          }
        }
      },
        autoPlay: function (val) {
            if (val) {
                setTimeout(
                    () =>
                    {
                        this.play();
                    }, 2000)
                ;

            }
        }
    }
  };
</script>

<style lang="scss" scoped>
  @import '../scss/media';

  .video-wrapper {
    position: relative;

    h1 {
      opacity: 1;
    }

    .video {
      height: 100vh;
      width: 100vw;
      overflow: hidden;

      .teaser {

        &--desktop {
          display: none;

          @include media-breakpoint-up(md) {
            display: block;
          }
        }
        &--mobile {
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100vw;
      transition: opacity 1.5s 0.5s;

      &.playanimation {
        opacity: 0;
      }
    }

    .play-button--invideo {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .layer {
      position: absolute;
      top: 0;

      &--full-page {
        height: 100vh;
        width: 100vw;
      }

      &__1 {
        .handen {
          margin-top: 10vh;
        }
      }

      &__2 {
        margin: 4rem 0;
      }

      &__3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .wrapper {
          margin-bottom: 10vh;
          transform: scale(0.01);

          &.animate {
            animation: zoom 1s 0.5s linear forwards;
            @keyframes zoom { 100% { transform: scale(1); } }
          }

        }
      }

      &__4 {
        bottom: 0;
        top: auto;
        width: 100%;

        .wrapper {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .cta {
          margin-bottom: 8vh;
        }
      }
    }

    .handen {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation:hover 1.5s 1.7s linear infinite;

      @keyframes hover {
        0% { transform: translate(0, 0); }
        50% { transform: translate(0, 10px); }
        100% { transform: translate(0, 0); }
      }

      .hand {
        position: relative;
        max-width: 450px;
        width: 40vw;
        margin: 0 1rem;
        -webkit-filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));
        filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));

        &.animate {
          animation:spin 1s 0.5s linear forwards;

        }

        &--left {
          left: 0;
          transition:left 1s linear;
          transform:rotate(15deg);

          &.playanimation {
            left: -1000px;
          }
        }
        &--right {
          right: 0;
          transition:right 1s linear;
          transform:rotate(-15deg);

          &.playanimation {
            right: -1000px;
          }
        }
        @keyframes spin { 100% { transform:rotate(0deg); } }

        img {
          width: 100%;
        }
      }
    }

    .logo {

    }

    .tagline {
      margin-bottom: 2rem;

      h1, h2 {
        text-transform: capitalize;
        color: white;
        margin: 0;
      }

      h1 {
        font-size: 4rem;
        line-height: 2rem;

        @include media-breakpoint-up(md) {
          font-size: 6rem;
          line-height: 4rem;
        }
      }
      h2 {
        font-size: 2rem;

        @include media-breakpoint-up(md) {
          font-size: 2.5rem;
        }
      }
    }

    .play-button {
      cursor: pointer;
    }

    .cta {

      .text {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: 'Bebas Neue Regular', sans-serif;
      }
      .button {
        cursor: pointer;
      }
    }
  }
</style>
