<template>
  <div id="what" class="what" data-anchor="a-what">
    <div class="what-wrapper gradient-1">
      <div class="fullwidth"></div>
      <div class="overlay">

        <div class="layer layer__1 layer--full-page">
          <div class="handen">
            <Hand class="hand hand--onder" :pose="isAnimating ? 'animating' : 'hidden'">
              <img src="../assets/images/what_hand.png">
            </Hand>
          </div>
        </div>

        <div class="layer layer__2 layer--full-page">
          <div class="text">
            <h1 v-bind:class="{ 'tracking-in-expand': isAnimating }">WHAT?</h1>
            <p class="content">
              Time to blast the market with our fresh, new brand identity credo: <strong>Co-create the Future</strong>. And you,
              faithful Gumption employee, are our ambassador. <strong>To excel as successful ambassadors, we have to get to
              know each other's business.</strong> We'll roll out initiatives to grow and bond together, to exchange those
              precious nuggets of expertise we all possess. Guaranteed, we'll find opportunities we never saw before,
              across business boundaries, beyond our own disciplines. We'll realise innovation like only we can.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import posed from 'vue-pose';

  export default {
    name: 'What',
    data: function () {
      return {
        sectionSelector: '.what'
      };
    },
    methods: {

    },
    components: {
      Hand: posed.div({
        animating: {
          x: 0,
          opacity: 1,
          scale: 1.1,
          transition: {duration: 500, ease: 'linear'},
        },
        hidden: {
          x: 800,
          opacity: 0,
          scale: .9,
          transition: {
            duration: 0
          }
        }
      })
    },
    mounted: function () {
      // this.splitWords(this.contentSelector);
    }
  };
</script>

<style lang="scss" scoped>
  @import '../scss/media';

  .what-wrapper {
    position: relative;

    .fullwidth {
      height: 100vh;
      width: 100vw;
    }

    .overlay {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100vw;
      transition: opacity 1.5s 0.5s;
    }

    .layer {
      position: absolute;
      top: 0;

      &--full-page {
        height: 100vh;
        width: 100vw;
      }

      &__1 {
        .handen {
          margin-top: 10vh;
          @include media-breakpoint-up(md) {
            margin-top: 30vh;
          }
        }
      }

      &__2 {
        margin-top: 5vh;

        @include media-breakpoint-up(md) {
          margin-top: 20vh;
        }
      }
    }

    .text {
      padding: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .content {
      max-width: 400px;
      border: 1px solid white;
      margin: 0 auto;
      padding: 20px;

      @include media-breakpoint-up(md) {
        max-width: 600px;
      }
    }

    .handen {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;

      .hand {
        position: relative;
        margin: 0 1rem;

        max-width: 400px;

        top: 380px;

        @include media-breakpoint-up(md) {
          max-width: 800px;
        }

        &--onder {
          @include media-breakpoint-up(md) {
            top: 200px;
          }
        }

        img {
          width: 100%;
          -webkit-filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));
          filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));
        }
      }
    }
  }
</style>
