<template>
  <div id="whatnot" class="whatnot gradient-1" data-anchor="a-whatnot">
    <div class="block-whatnot">
      <div class="whatnot-text">
        <div class="wrapper">
          <h1 v-bind:class="{ 'tracking-in-expand': isAnimating }">WHAT NOT ...</h1>
          <p class="content">
            Gumption used to only facilitate behind the scenes. Now, we're going to focus on clients as well.
            We'll inspire, challenge, spot innovation challenges, create value and generate business opportunities.
            Don't worry, your unique business propositions will remain front and center. <strong>Gumption will never position
            itself above the companies. It'll stand side by side.</strong>
          </p>
        </div>
      </div>
      <div class="whatnot-graphic">
        <div class="circle"></div>
        <Hand class="hand" :pose="isAnimating ? 'animating' : 'hidden'" />
      </div>
    </div>
  </div>
</template>

<script>
  import posed from 'vue-pose';

  export default {
    name: 'AndForYou',
    data: function () {
      return {
        sectionSelector: '.whatnot'
      };
    },
    methods: {
    },
    components: {
      Hand: posed.div({
        animating: {
          x: -50,
          opacity: 1,
          scale: 1.1,
          transition: {
            duration: 800
          }
        },
        hidden: {
          x: -400,
          opacity: 0,
          scale: .9,
          transition: {
            duration: 400
          }
        }
      })
    },
    mounted: function () {
      // this.splitWords(this.contentSelector);
    },
  };
</script>

<style scoped lang="scss">
  @import '../scss/media';

  #whatnot {

    .block-whatnot {
      display: flex;
      flex-direction: column-reverse;

      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
        align-items: center;
      }
    }

    .whatnot-text {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      z-index: 100;
      margin-right: 20px;
      margin-left: 20px;


      @include media-breakpoint-up(md) {
        width: 100%;
        text-align: left;
        align-items: center;
      }

      h1 {
        font-family: 'Bebas Neue Bold', sans-serif;
        font-weight: bold;
        font-size: 33px;
        line-height: 30px;

        @include media-breakpoint-up(md) {
          font-size: 80px;
          line-height: 100px;
        }
      }

      p.content {
        font-family: 'Lato Light', sans-serif;
        font-weight: normal;
        font-size: 16px;
        max-width: 400px;
      }
    }

    .whatnot-graphic {
      position: absolute;
      min-width: 280px;
      min-height: 280px;
      left: -180px;
      margin-top: 20vh;

      @include media-breakpoint-up(md) {
        left: -220px;

        min-width: 480px;
        min-height: 768px;
      }

      .circle {
        visibility: hidden;

        @include media-breakpoint-up(md) {
          right: -100px;
          height: 600px;
          width: 600px;
          -moz-border-radius: 300px;
          -webkit-border-radius: 300px;
          border-radius: 300px;
        }
      }

      .hand {
        position: absolute;
        z-index: 20;
        background-image: url('../assets/images/itisnot_arm.png');
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;

        width: 530px;
        height: 300px;

        transform: rotate(40deg);
        left: 100px;

        -webkit-filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));
        filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));

        @include media-breakpoint-up(md) {
          width: 700px;
          height: 590px;
          left: 140px;
          top: 20px;

          transform: rotate(0deg);
        }

        @include media-breakpoint-up(xl) {
          width: 830px;
          height: 590px;
          left: 140px;
          top: 20px;

          transform: rotate(0deg);
        }
      }

    }
  }
</style>
