<template>
  <div id="why" class="why" data-anchor="a-why">
    <div class="why-wrapper gradient-1">
      <div class="layer layer__1 layer--full-page">
        <div class="handen">
          <div class="hand hand--left" v-bind:class="{ 'animate': isAnimating }">
            <img src="../assets/images/why_hand_1.png">
          </div>
          <div class="hand hand--right" v-bind:class="{ 'animate': isAnimating }">
            <img src="../assets/images/why_hand_2.png">
          </div>
        </div>
      </div>

      <div class="layer layer__2 layer--full-page">
        <div class="text">
          <h1 v-bind:class="{ 'tracking-in-expand': isAnimating }">WHY?</h1>
          <p class="content">
            Digital transformation impacts so much. Business models, client interaction, distribution channels,
            data usage, employee roles ... everything is connected. <strong>There is a real need to combine insights from
            users and experts from many angles.</strong> How about all angles? That's our <strong>hands-on 360° approach</strong>. That's our
            offering. Everything they need, is everything we have.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        options: {},
        sectionSelector: '.why'
      };
    },
    methods: {
    },
    mounted: function () {
      // this.splitWords(this.contentSelector);
    },
  };
</script>

<style lang="scss" scoped>
  @import '../scss/media';

  #why {
    .why-wrapper {
      position: relative;
      height: 100vh;
      width: 100vw;

      .layer {
        position: absolute;
        top: 0;

        &--full-page {
          height: 100vh;
          width: 100vw;
        }

        &__1 {
          .handen {
            margin-top: 15vh;
          }
        }

        &__2 {
          padding-top: 5vh;
          @include media-breakpoint-up(md) {
            padding-top: 15vh;
          }
        }
      }

      .text {
        padding: 10px;
      }

      .content {
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
      }

      .handen {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation:hover 1.5s 1.7s linear infinite;

        @keyframes hover {
          0% { transform: translate(0, 0); }
          50% { transform: translate(0, 10px); }
          100% { transform: translate(0, 0); }
        }

        .hand {
          position: relative;
          max-width: 280px;
          width: 40vw;
          margin: 0 1rem;

          &.animate {
            animation:spin 1s 0s linear forwards;

            @keyframes spin { 100% { transform:rotate(0deg); } }
          }

          -webkit-filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));
          filter: drop-shadow(0 15px 35px rgba(34, 34, 34, 0.45));

          &--left {
            left: -30px;

            @include media-breakpoint-up(md) {
              left: -60px;
            }
            transition:left 1s linear;
            transform:rotate(15deg);
          }
          &--right {
            right: -30px;

            @include media-breakpoint-up(md) {
              right: -60px;
            }
            transition:right 1s linear;
            transform:rotate(-15deg);
          }


          img {
            width: 100%;
          }
        }
      }
    }
  }
</style>
