<template>
  <div id="you" class="you gradient-1" data-anchor="a-you">
    <div class="block-you">
      <div class="you-graphic">
        <div class="circle"></div>
        <Hand class="hand" :pose="isAnimating ? 'animating' : 'hidden'"/>
      </div>
      <div class="you-text">
        <h1 v-bind:class="{ 'tracking-in-expand': isAnimating }">AND FOR YOU?</h1>
        <p class="content">
          Our Co-create the Future promise leads to exciting innovation projects. It provides opportunities
          for your company to distinguish itself and cement its status as a superior value creator. <strong>As an employee,
          it gives you unique possibilities to share your knowledge, increase your experience and embrace new roles.</strong>
        </p>
        <p class="content">
          Persuaded of the potential of the hands-on 360° approach?  <br> <strong>Will you become a Co-create the Future ambassador?</strong>
          <br>Only one thing left to do. Explore and discover the wealth of expertise of the other Gumption members.
          Gumption spreads the love: a three-monthly internal newsletter, big screen
          announcements and Gumption Afterworks are only the start. A brand-new Gumption website and onboarding platform
          supported by a full-blown on/offline communication plan will support our Co-create the Future story. <br> Stay tuned for more!
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import posed from 'vue-pose';

  export default {
    name: 'You',
    data: function () {
      return {
        sectionSelector: '.you'
      };
    },
    methods: {},
    components: {
      Hand: posed.div({
        animating: {
          opacity: 1,
          x: 50,
          y: 30,
          scale: 1.6,
          boxShadow: '10px 10px 20px rgba(161, 0, 246, 0.2)',
          transition: {
            duration: 800
          }
        },
        hidden: {
          opacity: 0,
          scale: 1,
          transition: {
            duration: 400
          }
        }
      })
    },
    mounted: function () {
      // this.splitWords(this.contentSelector);
    }
  };
</script>

<style scoped lang="scss">
  @import '../scss/media';

  #you {

    .block-you {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
        margin-left: 100px;
      }
    }

    .you-text {
     // margin-top: 60px;
      margin-right: 30px;
      margin-left: 30px;
      z-index: 100;

      @include media-breakpoint-up(lg) {
        margin-top: 70px;
        width: 50%;
        text-align: left;
        margin-right: 0;
        margin-left: 150px;
      }

      @include media-breakpoint-up(xl) {
        width: 50%;
        text-align: left;
        margin-right: 20px;
        margin-left: 150px;
      }

      h1 {
        font-family: 'Bebas Neue Bold', sans-serif;
        font-weight: bold;
        font-size: 33px;
        line-height: 30px;

        @include media-breakpoint-up(lg) {
          font-size: 80px;
          line-height: 100px;
        }
      }

      p.content {
        font-family: 'Lato Light', sans-serif;
        font-weight: lighter;
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        max-width: 400px;
        margin-left: 30px;
        margin-right: 30px;

        @include media-breakpoint-up(sm) {
          font-size: 16px;
          line-height: 22px;
          margin-left: 150px;
          margin-right: 150px;
          max-width: 600px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 16px;
          margin-left: 0;
          margin-right: 0;
          max-width: 600px;
        }
      }
    }

    .you-graphic {
      position: relative;
      min-width: 280px;

      @include media-breakpoint-up(md) {
        min-width: 380px;
      }

      @include media-breakpoint-up(lg) {
        min-width: 400px;
      }

      .circle {
        @include media-breakpoint-up(xs) {
          visibility: hidden;
        }

        @include media-breakpoint-up(lg) {
          position: absolute;
          visibility: visible;
          z-index: 10;
          background: #4CB8E2;
          background-size: cover;

          right: -180px;
          top: -160px;
          height: 480px;
          width: 480px;
          border-radius: 240px;
          -moz-border-radius: 240px;
          -webkit-border-radius: 240px;
        }

        @include media-breakpoint-up(xl) {
          position: absolute;
          visibility: visible;
          z-index: 10;
          background: #4CB8E2;
          background-size: cover;

          right: -160px;
          top: -120px;
          height: 580px;
          width: 580px;
          border-radius: 350px;
          -moz-border-radius: 350px;
          -webkit-border-radius: 350px;
        }
      }

      .hand {
        position: relative;
        z-index: 20;
        background-image: url('../assets/images/andyou_hand.png');
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: cover;
        width: 110px;
        height: 110px;
        margin: 0 auto;
        left: -80px;

        @include media-breakpoint-up(lg) {
          width: 200px;
          height: 200px;
          left: -10vw;
        }

        @include media-breakpoint-up(xl) {
          width: 300px;
          height: 300px;
          left: -200px;
        }
      }

    }
  }
</style>
