<template>
  <div id="app" class="container-fluid">
    <div id="slides" class="row gradient-1">
      <Menu></Menu>
      <BackToTop @backToTop="backToTop" v-show="backToTopEnabled"></BackToTop>
      <full-page ref="fullpage" :options="options" id="fullpage">
        <Video ref="cocreate" class="section item-section" @next="nextSection" :autoPlay="autoPlay"></Video>
        <Intro ref="intro" class="section item-section"></Intro>
        <What ref="what" class="section item-section"></What>
        <Why ref="why" class="section item-section"></Why>
        <WhatNot ref="whatnot" class="section item-section"></WhatNot>
        <You ref="you" class="section item-section"></You>
        <Cta ref="cta" class="section item-section"></Cta>
        <Contact ref="contact" class="section item-section"></Contact>
      </full-page>
    </div>
  </div>
</template>

<script>
  import Video from './components/Video';
  import Menu from './components/Menu';
  import Intro from './components/Intro';
  import What from './components/What';
  import WhatNot from './components/WhatNot';
  import Why from './components/Why';
  import You from './components/You';
  import Contact from './components/Contact';
  import Cta from './components/Cta';
  import BackToTop from './components/BackToTop';

  export default {
    name: 'app',
    data () {
      return {
        autoPlay: false,
        options: {
          css3: true,
          easingcss3: 'ease-out',
          verticalCentered: true,
          responsiveSlides: true,
          responsiveWidth: 0,
          responsiveHeight: 0,
          licenseKey: '25E0FFBD-AAFD4D60-B75D9998-4325935D',
          scrollOverflow: false,
          scrollBar: false,
          navigation: false,
          menu: '#menu',
          lockAnchors: false,
          anchors: ['a-co-create', 'a-intro', 'a-what', 'a-why', 'a-whatnot', 'a-you', 'a-cta', 'a-contact'],
          onLeave: this.onLeave,
          afterLoad: this.afterLoad,
          afterRender: this.afterRender,
          afterResize: this.afterResize,
          afterResponsive: this.afterResponsive,
          afterSlideLoad: this.afterSlideLoad,
          onSlideLeave: this.onSlideLeave,
          keyboardScrolling: true,
          autoScrolling: true
        },
        backToTopEnabled: false
      };
    },
    components: {
      Video,
      Intro,
      What,
      WhatNot,
      Why,
      You,
      Contact,
      Menu,
      Cta,
      BackToTop
    },
    methods: {
      nextSection () {
        this.$refs.fullpage.api.moveSectionDown();
      },
      backToTop () {
        this.$refs.fullpage.api.moveTo(1, 1);
      },
      onLeave: function () {
        this.$refs.what.animateDiv(false);
        this.$refs.why.animateDiv(false);
        this.$refs.whatnot.animateDiv(false);
        this.$refs.you.animateDiv(false);
        this.$refs.contact.setVisible(false);
        this.$refs.intro.animateDiv(false);
        this.$refs.cocreate.animateDiv(false);
        this.$refs.cta.animateDiv(false);
      },
      afterLoad: function (origin, destination) {
        if (destination.anchor !== 'a-co-create') {
          this.backToTopEnabled = true;
        }
        else {
          this.backToTopEnabled = false;
        }

        switch (destination.anchor) {
          case 'a-co-create':
            this.$refs.cocreate.animateDiv(true);
            break;
          case 'a-what':
            this.$refs.what.animateDiv(true);
            break;
          case 'a-why':
            this.$refs.why.animateDiv(true);
            break;
          case 'a-whatnot':
            this.$refs.whatnot.animateDiv(true);
            break;
          case 'a-you':
            this.$refs.you.animateDiv(true);
            break;
          case 'a-intro':
            this.$refs.intro.animateDiv(true);
            break;
          case 'a-contact':
            this.$refs.contact.setVisible(true);
            break;
          case 'a-cta':
            this.$refs.cta.animateDiv(true);
            break;
          default:
        }
      }
    },
    mounted () {
      this.autoPlay = this.$route.query.autoplay;
    }
  };
</script>
