// Bold
@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../assets/fonts/BebasNeue-Bold.otf') format('embedded-opentype'),
  url('../assets/fonts/BebasNeue-Bold.woff2') format('woff2'),
  url('../assets/fonts/BebasNeue-Bold.woff') format('woff'),
  url('../assets/fonts/BebasNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Book
@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../assets/fonts/BebasNeue-Book.otf') format('embedded-opentype'),
  url('../assets/fonts/BebasNeue-Book.woff2') format('woff2'),
  url('../assets/fonts/BebasNeue-Book.woff') format('woff'),
  url('../assets/fonts/BebasNeue-Book.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Light
@font-face {
  font-family: 'Bebas Neue Light';
  src: url('../assets/fonts/BebasNeue-Light.otf') format('embedded-opentype'),
  url('../assets/fonts/BebasNeue-Light.woff2') format('woff2'),
  url('../assets/fonts/BebasNeue-Light.woff') format('woff'),
  url('../assets/fonts/BebasNeue-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Regular
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../assets/fonts/BebasNeue-Regular.otf') format('embedded-opentype'),
  url('../assets/fonts/BebasNeue-Regular.woff2') format('woff2'),
  url('../assets/fonts/BebasNeue-Regular.woff') format('woff'),
  url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Thin
@font-face {
  font-family: 'Bebas Neue Thin';
  src: url('../assets/fonts/BebasNeue-Thin.otf') format('embedded-opentype'),
  url('../assets/fonts/BebasNeue-Thin.woff2') format('woff2'),
  url('../assets/fonts/BebasNeue-Thin.woff') format('woff'),
  url('../assets/fonts/BebasNeue-Thin.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Regular
@font-face {
  font-family: 'Lato Regular';
  src: url('../assets/fonts/Lato-Regular.otf') format('embedded-opentype'),
  url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
  url('../assets/fonts/Lato-Regular.woff') format('woff'),
  url('../assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Light
@font-face {
  font-family: 'Lato Light';
  src: url('../assets/fonts/Lato-Light.otf') format('embedded-opentype'),
  url('../assets/fonts/Lato-Light.woff2') format('woff2'),
  url('../assets/fonts/Lato-Light.woff') format('woff'),
  url('../assets/fonts/Lato-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
