* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Bebas Neue Regular', sans-serif;
}

body {
  color: white;
  overflow: hidden;
  height: 100%;
}

.section {
  position: relative
}

.divider {
  height: 40px;
}

.gradient-1 {
  background: rgba(76, 184, 226, 1);
  background: -moz-linear-gradient(325deg, #4cb8e2 0%, #2f83bf 33%, #635f9a 66%, #da1e55 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4cb8e2), color-stop(33%, #2f83bf), color-stop(66%, #635f9a), color-stop(100%, #da1e55)); /* safari4+,chrome */
  background: -webkit-linear-gradient(325deg, #4cb8e2 0%, #2f83bf 33%, #635f9a 66%, #da1e55 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(325deg, #4cb8e2 0%, #2f83bf 33%, #635f9a 66%, #da1e55 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(325deg, #4cb8e2 0%, #2f83bf 33%, #635f9a 66%, #da1e55 100%); /* ie10+ */
  background: linear-gradient(125deg, #4cb8e2 0%, #2f83bf 33%, #635f9a 66%, #da1e55 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9daff4', endColorstr='#800F5C',GradientType=1 ); /* ie6-9 */
  background-size: cover;
  background-attachment: fixed;

  @supports (-webkit-overflow-scrolling: touch) {
    background-attachment: inherit;
  }

}

.background-magenta {
  background-color: #da1e55;
}

.item-section {
  position: relative;
}

// Typography

h1 {
  font-family: 'Bebas Neue Bold', sans-serif;
  font-weight: bold;
  font-size: 75px;
  width: 100%;

  @include media-breakpoint-up(md) {
    font-size: 80px;
  }
}

h2 {
  font-size: 39px;
  font-family: 'Bebas Neue Bold', sans-serif;
}

p {
  font-size: 16px;
  font-family: 'Lato Light', sans-serif;

  strong {
    font-family: 'Lato Regular', sans-serif;
  }
}


// Fullpage

.fp-tableCell {
  text-align: center;
}

.col-1, .col-2, .col-3 {
  color: white;
  font-size: 40px;
}

.navigation {
  margin-left: 150px;
  margin-top: -120px !important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  margin: 22px !important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  margin: -16px 0 0 -16px !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  height: 14px !important;
  width: 14px !important;
  background: #fff !important;
  margin: -18px 0 0 -18px !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.content {
  span {
    font-family: 'Lato Light', sans-serif;
    display: inline-block;
  }
  > span {
    overflow: hidden;
    span {
      transform: translateY(100%);
    }
  }
}

h1 {
  opacity: 0;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-20 15:27:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-box {
  border: 1px solid white;
  padding: 20px;
  font-family: Lato, sans-serif;
  text-align: center;
  min-height: 400px;

  @include media-breakpoint-up(lg) {
    min-height: 500px;
  }
}

.download-button {
  background: rgba(76, 184, 226, 1);
  border-radius: 40px;
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  font-family: Lato, sans-serif;
}

.section {
  //overflow: hidden;
}
